---
interface Props {
    role: string;
    lastName: string;
    firstName: string;
    image: string;
    comment: string;
}

const { role, lastName, firstName, image, comment } = Astro.props;
---

<div class="mt-8 grid grid-cols-1 sm:grid-cols-4 gap-4 mx-auto">
    <div class="my-auto">
        <img src={`/img/comments/${image}`} class="mx-auto max-w-32">
        <div class="text-center text-3xl mt-6">
            <p class="font-bold">{role}</p>
            <p>{lastName}<wbr />{firstName}</p>
        </div>
    </div>
    <div class="sm:col-span-3">
        {
            comment.split(/\\n/).map((line:string) => {
                return <div class="text-xl mt-4">{line}</div>
            })
        }
    </div>
</div>